@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollable::-webkit-scrollbar {
    width: 0.1em;
  }  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
.cursor-gradient {
    position: fixed;
    pointer-events: none;
    transform-origin: bottom right;
    height: 100%;
    width: 100%;
    z-index: -1;
    
  }
  
@layer utilities{
.homebar-icon {
  @apply duration-300 m-2 flex  flex-col items-center;
}

.project-buttons{
  @apply  transition duration-500 group-hover:-translate-x-1 m-1 p-1 rounded-full font-semibold text-slate-400  border-teal-700 border-2 bg-opacity-5 hover:bg-teal-600 hover:text-slate-800 hover:border-slate-700 ;
}

}